@{
    ViewData["Title"] = "About";
}

<div class="wrapper">

    <div class="contentContainer">
         <p> <span class="header">Name here</span> In sagittis condimentum suscipit. Nam a massa et enim eleifend viverra non vitae eros. Maecenas id bibendum diam. Fusce accumsan blandit augue, a dapibus ante fermentum sed. Aliquam erat volutpat. Curabitur tempor massa justo, quis luctus ipsum varius sed. Nullam non efficitur lacus. Donec tellus neque, malesuada accumsan ante a, tempus placerat nulla. Donec eleifend magna metus, tristique condimentum ante scelerisque vel. Nullam tincidunt nulla sed neque molestie vulputate. Mauris dignissim risus id consequat congue. Donec placerat venenatis elit, quis ultricies magna sodales pretium. Ut sit amet lorem convallis nulla rutrum posuere a ac enim. Donec viverra neque a neque pulvinar, vitae sodales erat rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
        <p>In dapibus urna ut interdum lobortis. Quisque hendrerit sollicitudin enim, vel sollicitudin justo lobortis eu. Duis iaculis blandit nibh. Ut eget quam ipsum. Sed non elementum ex. Quisque at felis non libero consectetur pharetra. Etiam tincidunt vehicula risus bibendum tempus. Praesent nibh risus, varius eget magna ac, auctor volutpat arcu. Cras id luctus odio. In hac habitasse platea dictumst. Curabitur eleifend elit erat, eu dignissim tellus efficitur id. Aenean vitae mauris tincidunt, sollicitudin ligula consequat, pharetra eros. Nunc a eleifend sem. Sed laoreet faucibus dui, hendrerit mattis felis facilisis sed.</p>
    </div>

    <div class="contentContainer">
        <image src="../images/BlankImage.png"></image>
    </div>

</div>